
<!DOCTYPE html>
<html>
<head>
   
    <title>These are the Posts</title>
    
    
    
    <link rel="stylesheet" href="https://maxdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>

<body>

    <div class="container">
        
            

    <h3>These are the User posts</h3> <hr> <hr>
    <div class="container">
        

            {% for user_post in all_posts %}
            {{user_post.user.username}}  
            {{user_post.last_update}}<br>
            {{user_post.desciption}}<br>
            
            {% if user.is_authenticated %}

            <div style="text-align:right;">
                <a href="/delete/{{user_post.id}}" >delete</a>
            </div>
            
            {% endif %}

            <input type="submit" name="submit" value="comment" class="btn btn-primary">
            <hr>
            {% endfor %}
         
        
    </div>

</body>
</html>   
