
<!DOCTYPE html>
<html>
<head>
   
    <title>These are the Posts</title>
    
    
    
    <link rel="stylesheet" href="https://maxdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>

<body>

    <div class="container">
        <form method="POST" action="/pass_comment">
            {% csrf_token %}
        
            

            <h3>These are the User posts</h3> <hr> <hr>
            <div class="container">
        

            {% for user_post in all_posts %}
            <td name="user_post_id">{{user_post.user.username}}</td>  
            <td name="user_post.last_update">{{user_post.last_update}}<br></td>
            <td>{{user_post.description}}<br></td>
            
            {% if user.is_authenticated %}

            <div style="text-align:right;">
                <a href="/delete/{{user_post.id}}" >delete</a>
            </div>

            

            <input type="submit" name="submit" value="comment" class="btn btn-primary">

            <hr>
            {% endif %}
            {% endfor %}
        </form>

    </div>

</body>
</html>   
