
<!DOCTYPE html>
<html>
<head>
    
    {% if user.is_authenticated %}
    <titile><h3 >Welcome {{request.user.username}}</h3></titile>
    {% endif %}
    <hr>
    <link rel="stylesheet" href="https://maxdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
    <div class="container">
        <form method="POST" action="/post">
        {% csrf_token%}

        <div class="row">
        <h3><b>Feed</b></h3>
        
        <hr>
        </div>

        <div class="row">
            <div class="column">
            <lable for="txtArea">Desciption</lable>
            <textarea id="txtArea" name="txtArea" rows="10" cols="70"></textarea>
        
        </div>
        <h3> <input type="submit" name="submit" value="submit" class="btn btn-primary"></h3>
        
    </div>
    </form> 
</body>
</html>   