
<!DOCTYPE html>
<html>
<head>
   
    <title>These are the Posts</title>
    
   
    
    <link rel="stylesheet" href="https://maxdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>

<body>

    <div class="container">
        <form method="POST" action="/pass_comment">
            {% csrf_token %}
        
            

            <h3>These are the User posts</h3> <hr> <hr>
            <div class="container">
        

            {% for user_post in all_posts %}
            {{user_post.user__username}}
            
            <td name="user_post.last_update">{{user_post.last_update}}<br></td>
            <td>{{user_post.description}}<br></td>
            
            {% if user.is_authenticated %}

            <div style="text-align:right;">
                <a href="/delete/{{user_post.id}}" >delete</a>
            </div>

            <!-- <input type="submit" name="submit" value="comment" class="btn btn-primary">
             -->

             <a href="/pass_comment/{{user_post.id}}">comment</a>
             
             
             
           

            
            <a href="/likes/{{user_post.id}}">Like</a>
            <br>
            {% endif %}
            
             {% for comment in comments %}

             {% if user_post.id == comment.post_id %}
             
             {{comment.user__username}}

             {{comment.comment}}

             {% endif%}
            
             {% endfor %}
             
            
        
            
            <hr>
            
            
            {% endfor %}

        </form>

    </div>

</body>
</html>   
