
<!DOCTYPE html>
<html>
<head>
   
    <title>These are the Posts</title>
    
   
    
    <link rel="stylesheet" href="https://maxdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>

<body>

    <div class="container">
        <form method="POST" action="/pass_comment">
            {% csrf_token %}
        
            

            <h3>These are the User posts</h3><h3><a href="/add_post">Add Post</a></h3>
            <hr> <hr>
            <div class="container">
        

            {% for user_post in all_posts %}
            <b>{{user_post.user__username}}</b>
            
            <td name="user_post.last_update">{{user_post.last_update}}<br></td>
            <td>{{user_post.description}}<br></td>
            
            {% if request.user.id == user_post.user_id %}

           

            <div style="text-align:right;">
                <a href="/delete/{{user_post.id}}" >delete</a>
            </div>

            {% endif %}
            
        
             <a href="/pass_comment/{{user_post.id}}">comment</a>
             
             
             
           

            
            <a href="/likes/{{user_post.id}}">Like</a>

            {% for like_count in likes_count %}
            {% if user_post.id == like_count.post_id %}
                
                ({{like_count.likes}})

            {% endif %}
            {% endfor %}
               
            
            
            <a href="/dislike/{{user_post.id}}">Dislike</a>
            
            
            {% for dislike_count in dislikes_count %}
            {% if user_post.id == dislike_count.post_id %}
                
                ({{dislike_count.dislikes}})
                
            {% endif %}
            {% endfor %}
            
            <br>
             {% for comment in comments %}

             {% if user_post.id == comment.post_id %}
             
             <b>{{comment.user__username}}</b>
             
             {{comment.comment}}
             <br>
             {% endif%}
            
             {% endfor %}
             
            
        
            
            <hr>
            
            
            {% endfor %}

        </form>

    </div>

</body>
</html>   
